.headdir {
  background: #5bccee;
  width: 100%;
  padding: 0;
  max-height: 85px;
  color: white;
}
.logo {
  float: left;
  padding-left: 8px;
  margin-top: -10px ;
}
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}
.logo .yellow {
  color: #10404e;
}
.triger-nav {
  float: right;
  border: 1px solid white;
  padding: 10px;
  margin : 18px 10px 0 0;
  border-radius: 8px;
}
.triger-nav a{
  text-decoration: none;
  color:  #10404e;
  font-weight: 500;
}
.triger-nav:hover {
  background-color: #757573de;
}


@media (min-width: 1066px) {
  .headir_in {
    max-width: 1050px;
    margin-left: 150px;
  }
  .triger-nav {
    margin : 23px 10px 0 0;
  }
}
@media (min-width: 1466px) {
  .headir_in {
    max-width: 1050px;
    margin-left: 300px;
  }
}

